<h1>Edicion de Programas</h1>
<p style="color: red;"><strong>Atencion:</strong> Si el editor en el area de "Descipcion del Programa:" no se carga, favor recargar la
pagina con f5</p>

<%= render 'form', program: @program %>

<div class="marginTop ">
	<%= link_to 'Atras', programs_path, :class => 'btn btn-primary'%>
</div>
