<div>
	<h2>Mision: </h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quidem distinctio totam id sunt maiores aperiam, aspernatur, repellendus quam quas dignissimos debitis magni nisi at facilis dolorum earum, reiciendis, aliquam.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam porro officia ipsum cupiditate, est maiores veritatis ea nesciunt velit doloribus nihil voluptatibus iste aspernatur, laudantium provident aliquam, sint placeat incidunt.</p>
</div>
	<br>
<div>
	
	<h2>Vision:</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, omnis. Odio corporis libero rerum itaque ex! Deserunt odit, id mollitia, a nulla ratione fuga doloribus placeat, impedit vel voluptatibus minus.</p>
</div>
	<br>
<div>
	<h2>Objetivos: </h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat dolores commodi corrupti, atque aut quo cumque soluta illo maxime debitis officia beatae laudantium labore harum quaerat ratione dolore voluptatem rem?</p>
</div>
<div class="alinCenter">
	<img src="https://scontent-mia1-2.xx.fbcdn.net/v/t1.0-9/11222570_1035382626514392_4247210181183416816_n.jpg?oh=51c49120bdfd7d88373d98ba8408a7d3&oe=5864E20E" alt="" id="logoAbout">
</div>