<h2>Acerca de nosotros:</h2>
	<div class="textJust">
		Misionera Estero 94.1 FM, con un estilo joven, adulto contemporáneo es una emisora especializada debido a su contenido religioso, y su estructura es mixta por la diversidad de programas: informativos, de opinión, musicales, educativos, deportivos y recreativos; dedicados  a ofrecer una excelente programación, dinámica donde exista una cerca relación entre los radioescuchas y los moderadores o prestadores de servicio radial.
	</div>
<br>
<h2>Mision: </h2>
	<div class="textJust">
		<p>Nuestra misión es educar mientras entretenemos, sabiendo que cada producción y mensaje se hace con un propósito divino, e intentar cubrir todas las inquietudes y necesidades de cada persona que sintonice nuestro dial.</p>
	</div>
<br>
<h2>Vision:</h2>
	<div class="textJust">
		<p>Ser un medio de comunicación de excelencia con altos estándares de calidad, competitividad y creatividad,  que logre llamar la atención tanto de amigos como de hermanos para la salvación de muchos y la restauración de otros. Dar oportunidad a los grandes y nuevos talentos.
		</p>
	</div>
<br>
<div class="alinCenter">
	<img src="https://scontent-mia1-2.xx.fbcdn.net/v/t1.0-9/11222570_1035382626514392_4247210181183416816_n.jpg?oh=51c49120bdfd7d88373d98ba8408a7d3&oe=5864E20E" alt="" id="logoAbout">
</div>